{% extends 'base.html.twig' %}

{% block header %}

{% endblock %}

{% block title %}Page de connexion{% endblock %}

{% block body %}
<form method="post" class="border p-5 mt-5 shadow rounded d-flex flex-column text-center">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous etes actuelement connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se deconnecter ?</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal ">Se connecter</h1>
    <label for="inputEmail" class="m-3">Adresse email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" required autofocus>
    <label for="inputPassword" class="mb-3">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control mb-3" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button class="btn btn-sm btn-primary" type="submit">
        Connnexion !
    </button>
    <em class="m-3">Ou</em>
    <a href="{{ path('app_signup') }}" class="btn btn-sm btn-success">S'inscrire</a>
</form>
{% endblock %}
